*~
*.zip
qrc_qml.cpp
TcRadioApp
pkg-config_wrapper.sh
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libltdl
libtool
ltmain.sh
missing
mkinstalldirs
stamp-*
.dirstamp
*.tar.gz
*.si4project
tc-radio-hd-manager
cscope.*
mkscope.sh
tags
*.swp
.vscode
